{ # -*- ifm -*-
  # chi noise template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
estimate_noise({$D->group}.k, {$D->group}.chi, group={$D->group})
