{ # -*- ifm -*-
  # chi noise template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
#estimate_noise({$D->group})
{$D->group}.epsilon_k = 0
{$D->group}.epsilon_r = 0
{$D->group}.kmax_suggest=12
