{ # -*- ifm -*-
  # derivative of phase of chi(R) template
  #   {$D->group} returns the ifeffit group name
}

##| Set first derivative of phase in R
{$D->group}.dph = deriv({$D->group}.chir_pha)/deriv({$D->group}.r)
{$D->group}.dph = (max({$D->group}.chir_mag) / max(abs({$D->group}.dph))) * {$D->group}.dph
