{ # -*- ifm -*-
  # erase k-weighted chi(k) arrays used for export
  @list = @{ $C->get("many_list") };
  q{}
}
{foreach $g (@list) {$OUT .= 'del ' . $g->group . '.' . $C->get("many_suffix") . "\n"}}
