{
  ## erase any ol' thing from Ifeffit's memory, taking care not to
  ## exceed the line length restriction
  use Text::Wrap;
  local $Text::Wrap::columns = 200;
  $all = q{};
  $items =~ s{\@group}{}g;
  if ($items) {
    $all = wrap('del ', 'del ', $items);
  };
  q{}
}
{$all}
