fi___x        = group(__name__='fi___x')
fi___x.cutoff = int( int(100*min({$D->group}.k)) / 5 ) * 5 / 100
fi___x.end    = int( int(100*max({$D->group}.k)) / 5 ) * 5 / 100
fi___x.k      = linspace(fi___x.cutoff, fi___x.end,           num=(fi___x.end-fi___x.cutoff)/0.05+2)
fi___x.kk     = linspace(0,             fi___x.cutoff - 0.05, num=fi___x.cutoff/0.05)
fi___x.yy     = zeros(int(min({$D->group}.k)/0.05))
fi___x.chi    = interp({$D->group}.k, {$D->group}.chi, fi___x.k, fill_value=0.0)
{$D->group}.k       = concatenate((fi___x.kk, fi___x.k))
{$D->group}.chi     = concatenate((fi___x.yy, fi___x.chi))
del fi___x
