{$D->group}.mar___min = index_of({$D->group}.energy, {$D->bkg_e0+$D->bkg_eshift+$P->margin_min})
{$D->group}.mar___max = index_of({$D->group}.energy, {$D->bkg_e0+$D->bkg_eshift+$P->margin_max}) + 1

{$D->group}.menergy = {$D->group}.energy + {$D->bkg_eshift}
{$D->group}.margin1 = {$D->group}.{$suffix} + {$P->margin}
{$D->group}.margin2 = {$D->group}.{$suffix} - {$P->margin}

{$D->group}.menergy = {$D->group}.menergy[{$D->group}.mar___min:{$D->group}.mar___max]
{$D->group}.margin1 = {$D->group}.margin1[{$D->group}.mar___min:{$D->group}.mar___max]
{$D->group}.margin2 = {$D->group}.margin2[{$D->group}.mar___min:{$D->group}.mar___max]

del {$D->group}.mar___min, {$D->group}.mar___max
