##| performing multi-electron excitation removal using a reflection of the Edge
m___ee        = group(__name__='m___ee')
m___ee.energy = {$S->group}.energy + {$shift}
m___ee.nn     = smooth({$S->group}.energy, {$S->group}.norm, sigma={$width}, form='lorentzian')
m___ee.xint   = interp(m___ee.energy, m___ee.nn, {$S->group}.energy, fill_value=0.0)
##| use perl to pad zeros at the beginning of the shifted array
