{ # -*- ifm -*-
  # normalize the merged spectrum
  #   {$D->group}  returns the ifeffit group name
  # $ndata is a passed parameter and is the normalization constant for
  # the merge (number of data sets or sum of importances)
  #     {$D->group}.{$suff} = m___erge.sum / {$C->get("ndata")}
}
{
  $suff = ($C->get("merge_space") eq 'energy') ? 'xmu' : 'chi';
  q{};
}
##| setting up arrays for merge group
{$D->group}.{$C->get("merge_space")} = m___erge.{$C->get("merge_space")}
{$D->group}.{$suff} = m___erge.sum
