{ # -*- ifm -*-
  # normalize the merged spectrum
  #   {$D->group}  returns the ifeffit group name
  # $ndata is a passed parameter and is the normalization constant for
  # the merge (number of data sets or sum of importances)
}
##| cleaning up after merge
#del @group m___erge
