{ # -*- ifm -*-
  # add noise to mu(E) data
  #   {$D->group}  returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  q{}
}
##|
##| adding noise {$C->get("noise")} to {$D->group}.{$C->get("noise_which")}
{$D->group}.random = random.normal(size=size({$D->group}.{$C->get("noise_which")}), scale={$C->get("noise_level")})
{$D->group}.{$C->get("noise_which")} = {$D->group}.{$C->get("noise_which")} + {$D->group}.random
##|
