{ # -*- ifm -*-
  # window preparation template in k space
  #   {$D->group} returns the ifeffit group name
}
## prepping k-space window
{$D->group}.chik = {$D->group}.k**{$D->get_kweight}*{$D->group}.chi
win___dow = max({$D->group}.chik)*{$P->window_multiplier}*{$D->plot_multiplier}
