{$D->group}.energy = re___bin.eee
{$D->group}.xmu = interp(re___bin.energy, re___bin.xmu, re___bin.eee)
{$D->group}.energy = {$D->group}.energy[1:-1]
{$D->group}.xmu = {$D->group}.xmu[1:-1]
if hasattr(re___bin, 'i0'):
   {$D->group}.i0 = interp(re___bin.energy, re___bin.i0, re___bin.eee)
   {$D->group}.i0 = {$D->group}.i0[1:-1]
endif
if hasattr(re___bin, 'signal'):
   {$D->group}.signal = interp(re___bin.energy, re___bin.signal, re___bin.eee)
   {$D->group}.signal = {$D->group}.signal[1:-1]
endif

del re___bin
