##|
##| Self absorption correction: fluo algorithm
## inserted s___a.mub was computed and inserted into ifeffit's memory
s___a.beta        = {$mut_fluo}/{$mue_plus}
s___a.gammaprime  = {$mub_plus}/{$mue_plus}
s___a.ratio       = sin(pi*{$angle_in}/180) / sin(pi*{$angle_out}/180)
s___a.energy = {$D->group}.energy+{$D->bkg_eshift}
s___a.num = {$D->group}.{$D->nsuff} * (s___a.beta*s___a.ratio + s___a.mub/{$mue_plus})
s___a.den = (s___a.beta*s___a.ratio + s___a.gammaprime + 1) - {$D->group}.{$D->nsuff}
s___a.sacorr = s___a.num / s___a.den

