{ # -*- ifm -*-
  # save mu(E) template
  #   {$S->group} returns the ifeffit group name
  #   {$D->group} returns the data group name
}
##|
##| saving "{$S->name}" as mu(E)
{$D->group}.e = {$D->group}.energy+{$D->bkg_eshift}
if hasattr({$D->group}, 'i0'): 
   write_ascii("{$filename}",
               {$D->group}.e, {$D->group}.xmu, {$D->group}.bkg, {$D->group}.pre_edge,
               {$D->group}.post_edge, {$D->group}.der, {$D->group}.sec, {$D->group}.i0,
	       label="energy xmu background pre_edge post_edge derivative second i0", header={$S->group}.myheader)
else:
   write_ascii("{$filename}",
               {$D->group}.e, {$D->group}.xmu, {$D->group}.bkg, {$D->group}.pre_edge,
               {$D->group}.post_edge, {$D->group}.der, {$D->group}.sec,
	       label="energy xmu background pre_edge post_edge derivative second", header={$S->group}.myheader)
#endif
del {$D->group}.e
