{
  @list = @{ $C->get("many_list") };
  q{}
}
write_ascii("{$C->get("many_file")}", {$S->group}.{$C->get("many_space")}, {foreach $g (@list) {$OUT .= $g->group . '.' . $C->get("many_suffix") . ', '}}
            label="{$C->get("many_space")}{foreach $g (@list) {($n=$g->name)=~ s{[- ,/.]+}{_}g; $OUT .= "  $n"}}",
	    header={$S->group}.myheader)
