{ # -*- ifm -*-
  # feffit command template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$F->parameter} returns the value for the current Fit
}
{
  $kstring   = q{};
  $kstring  .= "kweight=1, " if $D->fit_k1;
  $kstring  .= "kweight=2, " if $D->fit_k2;
  $kstring  .= "kweight=3, " if $D->fit_k3;
  $kstring  .= sprintf("kweight=%.3f, ", $D->fit_karb_value) if $D->fit_karb;
  $kstring ||= "kweight=1, ";
  $kstring   = substr($kstring, 0, -2);
  $epsstring = q{};
  $epsstring = "epsilon_k=" . $D->fit_epsilon . ", " if ($D->fit_epsilon > 0);
  q{}
}
###__ perform the fit
set kweight = 2
erase {$D->group}_res
erase {$D->group}_fit
feffit({$F->indeces}, group={$D->group}_fit, chi={$D->group}.chi, k={$D->group}.k,
       {$kstring}, {$epsstring}
       rmin={$D->bft_rmin}, rmax={$D->bft_rmax}, kmin={$D->fft_kmin}, kmax={$D->fft_kmax}, 
       dk={$D->fft_dk}, kwindow={$D->fft_kwindow}, fit_space={$D->fit_space},
       do_bkg={$D->yesno("fit_do_bkg")}, data_set={$D->fit_data}, data_total={$F->ndata},
       {$F->restraints})
