{ # -*- ifm -*-
  # path definition template
  #   {$S}"} returns the ifeffit group name
  #   {$S->parameter} returns the value of that parameter
}
{
  require File::Spec;
  $nnnn = File::Spec->catfile($S->folder, $S->file);
  $i = $S->Index;
  q{}
}
##|
##| Path #{$i} (group={$S}"})
path({$i}, label  = "{$S->label}")
path({$i}, feff   = "{$nnnn}")
path({$i}, degen  =  {$S->n})
path({$i}, s02    = "{$S->s02}"    || 1})
path({$i}, e0     = "{$S->e0}"     || 0})
path({$i}, delr   = "{$S->delr}"   || 0})
path({$i}, sigma2 = "{$S->sigma2}" || 0})
path({$i}, ei     = "{$S->ei}"     || 0})
path({$i}, third  = "{$S->third}"  || 0})
path({$i}, fourth = "{$S->fourth}" || 0})
path({$i}, dphase = "{$S->dphase}" || 0})
path({$i}, force_read = true)
