{ # -*- ifm -*-
  # generic atoms copyright information
  #   {$A->parameter} returns an Atoms attribute
  #   {$A->out("parameter")} returns a formatted Atoms real-valued attribute
  #   {$C->parameter} returns a Cell attribute
  #   {$C->out("parameter")} returns a formatted Cell real-valued attribute
}
{$A->nclus} ATOMS,    0 BONDS,    0 CHARGES
{$A->alchemy_list}
