{ # -*- ifm -*-
  # atoms keywords
  #   {$A->parameter} returns an Atoms attribute
  #   {$A->out("parameter")} returns a formatted Atoms real-valued attribute
  #   {$C->parameter} returns a Cell attribute
  #   {$C->out("parameter")} returns a formatted Cell real-valued attribute
  $prefix ||= q{};
  $space = ($is_p1) ? 'P 1' : $A->space;
  q{}
}
<<>>{foreach $t (@{ $A->titles }) { $OUT .= "${prefix}title = $t\n";}}<<->>
{$prefix}space = {$space}
{$prefix}a     = {$A->out("a")}    b    = {$A->out("b")}    c     = {$A->out("c")}
{$prefix}alpha = {$A->out("alpha")}    beta = {$A->out("beta")}    gamma = {$A->out("gamma")}
{$prefix}rmax  = {$A->out("rmax")}    core  = {$A->core}
{$A->is_polarization(' # ')}polarization = {join("  ", @{ $A->polarization })}
{$prefix}shift =   {join("  ", @{ $A->shiftvec })}
{$prefix}atoms
{$prefix}# el.     x           y           z        tag
