{ # -*- ifm -*-
  # generic atoms copyright information
  #   {$A->parameter} returns an Atoms attribute
  #   {$A->out("parameter")} returns a formatted Atoms real-valued attribute
  #   {$C->parameter} returns a Cell attribute
  #   {$C->out("parameter")} returns a formatted Cell real-valued attribute
  $doscf = ($A->do_scf) ? '' : '* ';
  $doexafs = ($A->do_scf) ? '* ' : '';
  q{}
}
<< >>
{foreach $t (@{ $A->titles }) { $OUT .= " TITLE $t\n";}}<<->>

 *  {$A->corel} {uc($A->edge)} edge energy = {$A->eedge} eV
 EDGE      {uc($A->edge)}
 S02       1.0

 *         pot    xsph  fms   paths genfmt ff2chi
 CONTROL   1      1     1     1     1      1
 PRINT     1      0     0     0     0      0

               *** ixc=0 means to use Hedin-Lundqvist
 *         ixc  [ Vr  Vi ]
 EXCHANGE  0

               *** Radius of small cluster for self-consistency calculation
               *** A sphere including 2 shells is a good choice
               *** l_scf = 0 for a solid, 1 for a molecule
 *         r_scf  [ l_scf   n_scf   ca ]
 {$doscf}SCF       {$A->rscf}

               *** Upper limit of XANES calculation.
               *** This *must* be uncommented to make Feff calculate full
               *** multiple scattering rather than a path expansion
 *         kmax   [ delta_k  delta_e ]
 {$doscf}XANES     4.0

               *** Radius of cluster for Full Multiple Scattering calculation
               *** l_fms = 0 for a solid, 1 for a molecule
 *         r_fms     l_fms
 {$doscf}FMS     {$A->rss}  0

               *** Energy grid over which to calculate
               *** DOS functions
 *         emin  emax   eimag
 {$doscf}LDOS      -30   20     0.1

               *** for EXAFS: RPATH {$A->rpath} and uncomment the EXAFS card
 {$doscf}RPATH     0.1
 EXAFS     20

 POTENTIALS
 *   ipot   Z  element        l_scmt  l_fms   stoichiometry
{$A->potentials_list("     %d     %-2d     %-10s   %d       %d       %s\n")}

 ATOMS                  * this list contains {$A->nclus} atoms
 *   x          y          z     ipot tag           distance
{$A->cluster_list}
 END
