{ # -*- ifm -*-
  # generic atoms copyright information
  #   {$A->parameter} returns an Atoms attribute
  #   {$A->out("parameter")} returns a formatted Atoms real-valued attribute
  #   {$C->parameter} returns a Cell attribute
  #   {$C->out("parameter")} returns a formatted Cell real-valued attribute
}
<< >>
{foreach $t (@{ $A->titles }) { $OUT .= " TITLE $t\n";}}<<->>

 HOLE      {$A->iedge}   1.0   * FYI: ({$A->corel} {uc($A->edge)} edge @ {$A->eedge} eV, second number is S0^2)
 *         mphase,mpath,mfeff,mchi
 CONTROL   1      1     1     1
 PRINT     1      0     0     0

 RMAX      {$A->rpath}
 *NLEG      4

 POTENTIALS
  * ipot   Z      tag
{$A->potentials_list}

 ATOMS                  * this list contains {$A->nclus} atoms
 *   x          y          z     ipot tag           distance
{$A->cluster_list}
 END
