{ # -*- ifm -*-
  # generic atoms copyright information
  #   {$A->parameter} returns an Atoms attribute
  #   {$A->out("parameter")} returns a formatted Atoms real-valued attribute
  #   {$C->parameter} returns a Cell attribute
  #   {$C->out("parameter")} returns a formatted Cell real-valued attribute
  $doscf = ($A->do_scf) ? '' : '* ';
  $doxanes = ($A->do_xanes) ? '' : '* ';
  q{}
}
<< >>
{foreach $t (@{ $A->titles }) { $OUT .= " TITLE $t\n";}}<<->>

 *  {$A->corel} {uc($A->edge)} edge energy = {$A->eedge} eV
 EDGE      {uc($A->edge)}
 S02       1.0

 *         pot    xsph  fms   paths genfmt ff2chi
 CONTROL   1      1     1     1     1      1
 PRINT     1      0     0     0     0      3

 *         ixc  [ Vr  Vi ]     *** ixc=0 means to use Hedin-Lundqvist
 EXCHANGE  0
                                           *** Radius for self-consistent pots (2 shells is a good choice)
 *         r_scf  [ l_scf   n_scf   ca ]   *** l_scf = 0 for a solid, 1 for a molecule
 {$doscf}SCF       {$A->rscf}

 *         kmax   [ delta_k  delta_e ]     *** Upper limit of XANES calculation.
 {$doxanes}XANES     4.0

 *         r_fms     l_fms      *** Radius for Full Mult. Scatt. l_fms = 0 for a solid, 1 for a molecule
 {$doxanes}FMS     {$A->rss}  0

 *         emin  emax   eimag   *** Energy grid over which to calculate DOS functions
 {$doxanes}LDOS      -30   20     0.1

               *** for EXAFS: RPATH {$A->rpath} and uncomment the EXAFS card
 RPATH     {$A->rpath}
 EXAFS     20
 {$A->is_polarization}POLARIZATION  {join("   ", @{$A->polarization})}

 POTENTIALS
 *   ipot   Z  element        l_scmt  l_fms   stoichiometry
{$A->potentials_list("     %d     %-2d     %-10s   %d       %d       %s\n")}

 ATOMS                  * this list contains {$A->nclus} atoms
 *   x          y          z     ipot tag           distance
{$A->cluster_list}
 END
