{ # -*- ifm -*-
  # atoms keywords
  #   {$A->sg("attribute")} returns a space group attribute
  #   {$C->get("parameter")} returns a Cell attribute
}
Spacegroup {uc($C->group->group)} (#{$A->sg("number")})

  Schoenflies: {$A->sg("schoenflies")}
  Full symbol: {$A->sg("full")}
  New symbol : {$A->sg("newsymbol")}
  Thirtyfive : {$A->sg("thirtyfive")}
  Nicknames  : {$A->sg("nicknames")}

  Common shift vector:
{$A->sg("shiftvec")}
  Bravais translations:
{$A->sg("bravais")}
  {$A->sg("npos")} positions:
{$A->sg("positions")}
