##| make diff group into a normalized group
set ({$D->group}.norm = {$D->group}.xmu,
     {$D->group}.flat = {$D->group}.xmu,
     {$D->group}.nder = {$D->group}.der,
     {$D->group}.nsec = {$D->group}.sec)
