{
  $components = join(" ", grep {$_ =~ s{ +}{_}g; $_} map {$_->name} (@{$S->standards}));
  @list = map {$_->group} (@{$S->standards});
  $standards = $S->group . '.' . join(', '.$S->group.'.', @list);
  $x = ($S->space =~ m{\Achi}) ? 'k' : 'energy';
  q{}
}
write_data(file="{$filename}", $dem_data_*, {$S->group}.x, {$S->group}.func, {$S->group}.lcf, {$S->group}.resid,
           {$standards},
           label="{$x} data fit residual {$components}")
{
  foreach $t (1 .. $S->ntitles) {
    $OUT .= "erase \$lcf_title_" . $t . "\n";
  }
}
