{
  ($weight, $error) = $DS->weight($S);
  $defaa = ($DS->inclusive) ? sprintf("def aa_%s = max(0,min(a_%s,1))", $S->group, $S->group) : sprintf("def aa_%s = a_%s", $S->group, $S->group);
  q{}
}
##| prepare {$S->name} ({$S->group}) as an LCF standard
guess a_{$S->group} = {$weight}
{$defaa}
def {$DS->group}.{$S->group} = aa_{$S->group} * {$S->group}.chi*{$S->group}.k**{$P->kweight}