##| prepare for linear combination fit of {$S->space} data (LCF group is {$S->group})
unguess
set {$S->group}.x     = {$D->group}.energy + {$D->bkg_eshift}
set {$S->group}.func  = {$D->group}.{$S->suffix}
{#
#set {$S->group}.x     = slice({$D->group}.energy, {$n1}, {$n2}) + {$D->bkg_eshift}
#set {$S->group}.func  = splint({$D->group}.energy+{$D->bkg_eshift}, {$D->group}.{$S->suffix}, {$S->group}.x)
#
q{}
}