##| perform the LCF fit
minimize({$S->group}.resid, x={$S->group}.x, xmin={$S->xmin}, xmax={$S->xmax})

##| undef all of the arrays
set {$S->group}.lcf = {$S->group}.lcf
set {$S->group}.resid = {$S->group}.resid
{
  foreach $st (@{$S->standards}) {
    $OUT .= sprintf("set %s.%s = %s.%s\n", $S->group, $st->group, $S->group, $st->group)
  }
}
