{
  $e0_set_guess = ($DS->float_e0($S)) ? 'set' : 'guess';
  @list = $DS->standards_list;
  pop(@list);
  $sum = join(' + ', map {join('_', 'aa', $_)} @list); ## makes a_w + a_x + a_y, i.e. sum of other amplitudes
  q{}
}
##| prepare {$S->name} ({$S->group}) as an LCF standard
def aa_{$S->group} = 1 - ({$sum})
{$e0_set_guess} e_{$S->group} = 0.0
def {$DS->group}.{$S->group} = aa_{$S->group} * splint({$S->group}.energy+e_{$S->group}+{$S->bkg_eshift}, {$S->group}.flat, {$DS->group}.x)
