write_data(file="{$file}", $dem_data_*, npts={($S->qmax+1)/0.05},
           {$S->data->group}.q, {$S->data->group}.ratio, {$S->data->group}.even, {$S->data->group}.diff, {$S->data->group}.odd)
erase $lr___pd_title_1 $lr___pd_title_2 $lr___pd_title_3 $lr___pd_title_4 $lr___pd_title_5 $lr___pd_title_6