{
  $labels = join(" ", (1 .. $#{$S->stack}+1));
  $components = $S->group . '.ev' . join(', '.$S->group.'.ev', (0 .. $#{$S->stack}));
  q{}
}
write_data(file="{$filename}", $pca_title_*, {$S->group}.x,
           {$components},
           label="x data {$labels}")
{
  foreach $t (1 .. $S->ntitles+1) {
    $OUT .= "erase \$pca_title_" . $t . "\n";
  }
}
