{
  ($name = $D->name) =~ s{\s+}{_}g;
  q{}
}
write_data(file="{$filename}", $pca_title_*, {$S->group}.x,
           {$S->group}.{$D->group}, {$S->group}.rec{$index}, {$S->group}.diff{$index},
           label="x {$name} reconstruction residual")
{
  foreach $t (1 .. $S->ntitles+1) {
    $OUT .= "erase \$pca_title_" . $t . "\n";
  }
}
