{
  $datastyle = ($P->datastyle eq 'solid') ? 'lines' : 'points';

  $emin = $S->e0 + $S->xmin-10;
  $emax = $S->e0 + $S->xmax+10;

  $data = $P->tempfile;
  $S->points(file    => data,
             space   => 'x', 
             suffix  => $D->group,
            );
  q{};
}
## gnuplot script
unset label

set title "\{/*1.6 PCA components\}"
set xlabel "\{/*1.4 Energy&\{aa\}(eV)\}"
set ylabel "\{/*1.4 Normalized absorption\}"
set xrange [ {$emin} : {$emax} ]

plot '{$data}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "{$D->name}"
