{
  $func = q{};
  $guess = q{};
  $val = 1;
  foreach my $i (0 .. $S->ndata-1) {
    $func .= '_p' . $i . '*' . $S->group . '.ev' . $i . '+';
    $guess .= "guess _p$i = " . $S->refeig->[$i] . "\n";
    $val = 0;
  }
  chop $func;
  q{};
}
{$guess}
def {$S->group}.tt  = {$func}
def {$S->group}.resid = {$S->group}.tt - {$S->group}.{$D->group}
minimize({$S->group}.resid)
set {$S->group}.tt  = {$S->group}.tt
set {$S->group}.resid  = {$S->group}.resid
unguess