{
  ($name = $D->name) =~ s{\s+}{_}g;
  q{}
}
write_data(file="{$filename}", $dem_data_*, {$S->group}.x,
           {$S->group}.{$D->group}, {$S->group}.tt, {$S->group}.diff,
           label="x {$name} tt residual")
