{
  ($name = $D->name) =~ s{\s+}{_}g;
  q{}
}
write_data(file="{$filename}", $dem_data_*, {$S->group}.x,
           {$S->group}.{$D->group}, {$S->group}.rec{$index}, {$S->group}.diff{$index},
           label="x {$name} reconstruction residual")
