{
  ($name = $D->name) =~ s{\s+}{_}g;
  $abcissa = ($S->space =~ m{[ck]}) ? 'k' : 'energy';
  q{}
}
write_data(file="{$filename}", $dem_data_*, {$S->group}.x,
           {$S->group}.{$D->group}, {$S->group}.tt, {$S->group}.diff,
           label="{$abcissa} {$name} tt residual")
