Fit to {$D->name} with {$#{$S->lineshapes}+1} lineshapes and approximately {$S->ninfo} measurements
Fit used {$S->ndata} data points and {$S->nparam} variables
R-factor = {$S->rfactor}
Chi-square = {$S->chisqr}
Reduced chi-square = {$S->chinu}
