##| preparing for peak fitting in energy
set {$S->group}.eee = {$D->group}.energy+{$D->bkg_eshift}
set {$S->group}.energy = slice({$S->group}.eee,  {$i1}, {$i2})
set {$S->group}.{$D->nsuff} = splint({$D->group}.energy, {$D->group}.{$D->nsuff}, {$S->group}.energy)
set {$S->group}.func = zeros(npts({$S->group}.energy))
erase {$S->group}.eee
