lib/Xray/Absorption/*.db
lib/Xray/Scattering/*.db
lib/Xray/Crystal/share/space_groups.db
src/*.dll
src/*.so
src/*.o
t/feff
_build
blib
Build
Build.bat
MYMETA.yml
doc/dpg/bin/build
doc/dpg/etc/ttree.cfg
doc/dpg/html/
doc/dpg/templates/lib/config/map
doc/dpg/templates/lib/config/version
try/
examples/cu/temp/
examples/feff/
win/deps/*.xml
