*.autosave
*.iff
*.yaml
*.tar.gz
*.fit
*.es
*.rsp
*.fpj
*.dpj
*.log
*.patch
*.directory

*~

_Inline/*

lib/Xray/Absorption/*.db
lib/Xray/Scattering/*.db
lib/Xray/Crystal/share/space_groups.db

lib/Demeter/configuration/plot.demeter_conf
lib/Demeter/configuration/gnuplot.demeter_conf

src/*.dll
src/*.so
src/*.o

**/temp/*
examples/recipes/*/feff/*

athena.prj
artemis.fpj

t/feff
_build
blib
Build
Build.bat
META.yml
META.json
MYMETA.yml
MYMETA.json

*.pyc

doc/dpg/bin/build
doc/dpg/etc/ttree.cfg
doc/dpg/html/
doc/dpg/templates/lib/config/map
doc/dpg/templates/lib/config/version

doc/artug/bin/build
doc/artug/bin/tex
doc/artug/etc/ttree.cfg
doc/artug/etc/ttree_tex.cfg
doc/artug/html/
doc/artug/tex/
doc/artug/Template
doc/artug/images/pto.svg

doc/aug/bin/build
doc/aug/bin/tex
doc/aug/etc/ttree.cfg
doc/aug/etc/ttree_tex.cfg
doc/aug/html/
doc/aug/tex/
doc/aug/Template

doc/lib/config/map.*
doc/lib/config/version.*
doc/latex/config/map.*
doc/latex/config/version.*

nytprof/
nytprof.out

try/
win/deps/*.xml
win/deps/deptree

examples/cu/temp/
examples/feff/
examples/temp/
examples/recipes/LCF/*.xls
examples/recipes/Histogram/VASP/feff/*
examples/recipes/Histogram/feff/*
examples/recipes/Histogram/HISTORY
examples/recipes/Histogram/VASP/OUTCAR*
examples/recipes/Megamerge/data/*
examples/recipes/Megamerge/*.prj
examples/recipes/RankPath/rank.dat
examples/recipes/RankPath/feff/*
examples/recipes/VPath_SSPath/UAce/

lib/Demeter/UI/Artemis/share/artug/html
lib/Demeter/UI/Artemis/share/artug/images

lib/Demeter/UI/Athena/share/aug/html
lib/Demeter/UI/Athena/share/aug/images
