{ # -*- ifm -*-
  # path definition template
  #   {$S} returns the ifeffit group name
  #   {$S->get("parameter")} returns the value of that parameter
}
{
  require File::Spec;
  $nnnn = File::Spec->catfile($S->get('folder'), $S->get('file'));
  $i = $S->Index;
  q{}
}
<<nl>>
path   {$i}    {$nnnn}
id     {$i}    {$S->label}
s02    {$i}    {$S->get("s02")    || 1}
e0     {$i}    {$S->get("e0")     || 0}
delr   {$i}    {$S->get("delr")   || 0}
sigma2 {$i}    {$S->get("sigma2") || 0}
ei     {$i}    {$S->get("ei")     || 0}
third  {$i}    {$S->get("third")  || 0}
fourth {$i}    {$S->get("fourth") || 0}
