{ # -*- ifm -*-
  # ff2chi command template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$F->parameter} returns the value for the current Fit
}
{
  $kw = 1;
  $kw = 1 if $D->fit_k1;
  $kw = 2 if $D->fit_k2;
  $kw = 3 if $D->fit_k3;
  q{}
}

nofit  = true

format = ascii
rspout = yes    qspout = yes    kspout = yes
all    = yes

data   = {$D->file}
bkg    = {$D->truefalse("fit_do_bkg")}
kmin   = {$D->fft_kmin}      kmax = {$D->fft_kmax}
dk     = {$D->fft_dk}      kw = {$kw}
rmin   = {$D->bft_rmin}      rmax = {$D->bft_rmax}
cormin = {$D->fit_cormin}
