{ # -*- ifm -*-
  # template for plotting the function of a fluorescence filter
  #   {$C} returns the config object
  #
  #  filter_abs	       Z number of absorber
  #  filter_edge       edge of absorber
  #  filter_filter     filter element
  #  filter_emin       lower bound of plot
  #  filter_emax       upper bound of plot
  #
  $filterz    = Chemistry::Elements::get_Z($C->get("filter_filter"));
  $filtersymbol = Chemistry::Elements::get_symbol($C->get("filter_filter"));
  $filtername = Chemistry::Elements::get_name($C->get("filter_filter"));
  $abssymbol  = Chemistry::Elements::get_symbol($C->get("filter_abs"));
  $absname    = Chemistry::Elements::get_name($C->get("filter_abs"));
  $absenergy  = Xray::Absorption->get_energy($C->get("filter_abs"),$C->get("filter_edge"));

  $z          = $C->get("filter_abs");

  $line1      = ($z < 57) ? "Ka1" : "Lb2";
  $line2      = ($z < 57) ? "Ka2" : "La1";
  $line3      = ($z < 57) ? q{}   : "La2";

  $e1         = Xray::Absorption -> get_energy($z, $line1);
  $e2         = Xray::Absorption -> get_energy($z, $line2);
  $e3         = Xray::Absorption -> get_energy($z, $line3);

  $h1         = sprintf("%.5f", Xray::Absorption -> get_intensity($z, $line1));
  $h2         = sprintf("%.5f", Xray::Absorption -> get_intensity($z, $line2));
  $h3         = sprintf("%.5f", Xray::Absorption -> get_intensity($z, $line3));

  $line1key   = ($z < 57) ? "K{/Symbol a}{_1}" : "L{/Symbol b}{_1}";
  $line2key   = ($z < 57) ? "K{/Symbol a}{_2}" : "L{/Symbol a}{_1}";
  $line3key   = ($z < 57) ? q{}       : "L{/Symbol a}{_2}";

  $top        = $S->fetch_scalar("top");

  q{}
}
## gnuplot filter plot script
unset label
sigma=30
set title  '\{/*1.5 {$filtername} as a filter for {$absname}\}'
set xlabel '\{/*1.2 Energy (eV)\}'
set ylabel '\{/*1.2 filter and lines (arb. units)\}'
set xrange [ 0.98*{$C->get("filter_emin")} : 1.04*{$C->get("filter_emax")} ]
set samples 1000

set arrow from {$absenergy},0 to {$absenergy},{$top} nohead
set label '&\{aa\}{$abssymbol} {$C->get("filter_edge")} edge' at {$absenergy},1 left

plot '{$C->get("filter_file")}' with lines ls 1 title '{$filtersymbol} filter',\
     ({$h1}*300/(sigma*sqrt(2*pi)))*exp(-1*(x-{$e1})**2/(2*sigma**2)) with lines ls 2 title '{$line1key}',\
     ({$h2}*300/(sigma*sqrt(2*pi)))*exp(-1*(x-{$e2})**2/(2*sigma**2)) with lines ls 3 title '{$line2key}'



{if ($line3) {
 $OUT .= join(q{}, 
      	      q[replot (],
              $h3,
	      q[*300/(sigma*sqrt(2*pi)))*exp(-1*(x-],
	      $e3,
	      q[)**2/(2*sigma**2)) with lines ls 4 title '],
	      $line3key,
	      q[']);
}} 

unset samples
unset arrow
