{
  $file = $P->tempfile;
  $S->points(file    => $file,
             space   => 'x', 
	     suffix  => 'y', 
	    );
  $legend  = ($P->showlegend) ? '' : "\nunset key" ;
  q{}
}
## gnuplot script
{$legend}

set title "\{/*1.6 {$S->name}\}"
set xlabel "\{/*1.2 Radial distance&\{aa\}(Å)\}"
set ylabel "\{/*1.2 Bin populations\}"
set xrange [ {$S->rmin} : {$S->rmax} ]

# {$S->name}: ifeffit group = {$S->group}
plot '{$file}' using 1:2 with impulses ls {$P->increm+1} title "histogram"
