set terminal {$terminal} font '{$C->default("gnuplot","font")},{$C->default("gnuplot","fontsize")}' {$C->default("gnuplot","termparams")}
set output '{$file}'
replot
set terminal {$terminal} linewidth 1
set output
