{ # -*- ifm -*-
  # template for inserting text into a plot
  #   {$x} and {$y} are supplied by the caller and are the points at which to write the text
}
set label 1 '{$text}' at {$x},{$y} left
replot
