{
  $datastyle = ($P->datastyle eq 'solid') ? 'lines' : 'points';

  $lr = $P->tempfile;
  $S->data->points(file    => $lr,
                   space   => 'lr', 
	           suffix  => 'ratio',
	          );
  $fit = $P->tempfile;
  $S->data->points(file    => $fit,
                   space   => 'lr', 
	           suffix  => 'even',
	          );
  q{};
}
## gnuplot script
unset label

set title "\{/*1.6 {$S->data->name}\}"
set xlabel "\{/*1.4 k^2&\{aa\}(\{\305\}^\{-2\})\}"
set ylabel "\{/*1.4 log-ratio\}"
set xrange [ 0 : {($S->qmax+1)**2} ]

plot '{$lr}' using ($1**2):2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "log-ratio"
replot '{$fit}' using ($1**2):2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+2} title "fit"
