{
  $datastyle = ($P->datastyle eq 'solid') ? 'lines' : 'points';

  $lr = $P->tempfile;
  $S->data->points(file    => $lr,
                   space   => 'lr', 
	           suffix  => 'diff',
	          );
  $fit = $P->tempfile;
  $S->data->points(file    => $fit,
                   space   => 'lr', 
	           suffix  => 'odd',
	          );
  q{};
}
## gnuplot script
unset label

set title "\{/*1.6 {$S->data->name}\}"
set xlabel "\{/*1.4 Wavenumber&\{aa\}(\{\305\}^\{-1\})\}"
set ylabel "\{/*1.4 phase-difference&\{aa\}(radians)\}"
set xrange [ 0 : {$S->qmax+1} ]

plot '{$lr}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "phase-difference"
replot '{$fit}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+2} title "fit"
