{ # -*- ifm -*-
  # template for inserting a marker
  #   {$x} and {$y} are supplied by the caller and are the points at which to draw a marker
  #   {$P->parameter} returns the value of a Plot parameter   {$P->markercolor} '\{/*1.5 \244\}' 
}
set label '\{/Symbol \305\}' at {$x},{$y} center textcolor ls 12
replot
