{ # -*- ifm -*-
  # template for new plot in energy
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
  #
  #  color fg bg grid gridcolor
}
{
  $emin = $D->bkg_e0 + $P->emin;
  $emax = $D->bkg_e0 + $P->emax;
  $datastyle = ($P->datastyle eq 'solid') ? 'lines' : 'points';
  ($ylabel = $P->ylabel) =~ s[\\gm][{/Symbol m}];
  $file = $P->tempfile;
  $D->points(file    => $file,
             space   => 'E', 
	     suffix  => $P->e_part, 
	     shift   => $D->bkg_eshift,
	     scale   => $D->plot_multiplier,
	     yoffset => $D->y_offset
	    );
  $thiskey = $P->key;
  $thiskey =~ s{_}{\\\\_}g;
  $legend  = ($P->showlegend) ? '' : "\nunset key" ;
  q{}
}
## gnuplot script
unset label{$legend}

set title "\{/*1.6 {$P->escapedtitle}\}"
set xlabel "\{/*1.4 Energy&\{aa\}(eV)\}"
set ylabel "\{/*1.4 {$ylabel}\}"
set xrange [ {$emin} : {$emax} ]

# {$D->name}: ifeffit group = {$D->group}
plot '{$file}' using 1:2 with {$datastyle} ls {$P->increm+1} title "{$thiskey}"
