{ # -*- ifm -*-
  # template for new plot in R
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
  #
  #  color fg bg grid gridcolor
}
{
  $this = $PT || $D;
  $ylabel = $P->plot_rylabel;
  $file = $P->tempfile;
  $this->points(file    => $file,
                space   => 'R', 
	        suffix  => ($P->r_pl eq 'm') ? 'chir_mag'
	                 : ($P->r_pl eq 'r') ? 'chir_re'
	                 : ($P->r_pl eq 'i') ? 'chir_im'
	                 : ($P->r_pl eq 'p') ? 'chir_pha'
		         :                     'chir_mag',
	        scale   => $D->plot_multiplier,
	        yoffset => $D->y_offset,
		dphase  => $P->dphase,
	       );
  $thiskey = $D->plotkey || $C->get('plot_part') || $P->key;
  $thiskey =~ s{_}{\\\\_}g;
  if (ref($PT) =~ m{Path}) { $thiskey = $PT->name || 'Path '.$PT->Index };
  $legend  = ($P->showlegend) ? '' : "\nunset key" ;
  q{}
}
## gnuplot script
unset label{$legend}

set title "\{/*1.5 {$P->escapedtitle}\}"
set xlabel "\{/*1.2 Radial distance&\{aa\}(\{\305\})\}"
set ylabel "\{/*1.2 {$ylabel}\}"
set xrange [ {$P->rmin} : {$P->rmax} ]

# {$this->name}: ifeffit group = {$D->group}
plot '{$file}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "{$thiskey}"
