{ # -*- ifm -*-
  # template for overplotting in energy
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
{
  $file = $P->tempfile;
  $S->points(file    => $file,
             space   => 'E', 
	     suffix  => $suffix, 
	     shift   => $D->eshift,
	     scale   => $D->plot_multiplier,
	     yoffset => $D->y_offset
	    );
  $thiskey = $D->plotkey || $D->name;
  $thiskey =~ s{_}{\\\\_}g;
  q{}
}
# {$D->name}: ifeffit group = {$D->group}
replot '{$file}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "{$thiskey}"

