{ # -*- ifm -*-
  # template for overplotting in R
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  #   {$P->get("parameter")} returns the value of a Plot parameter
}
{
  $this = $PT || $D;
  $file = $P->tempfile;
  $this->points(file    => $file,
  	        part    => $C->get('plot_part'),
                space   => 'R', 
	        suffix  => ($P->r_pl eq 'm') ? 'chir_mag'
	                 : ($P->r_pl eq 'r') ? 'chir_re'
	                 : ($P->r_pl eq 'i') ? 'chir_im'
	                 : ($P->r_pl eq 'p') ? 'chir_pha'
		         :                     'chir_mag',
	        scale   => $D->plot_multiplier,
	        yoffset => $D->y_offset,
	     );
  $thiskey = $D->plotkey || $C->get('plot_part') || $P->key;
  $thiskey =~ s{_}{\\\\_}g;
  if (ref($PT) =~ m{Path}) { $thiskey = $PT->name || 'Path '.$PT->Index };
  q{}
}
# {$this->name}: ifeffit group = {$D->group}
replot '{$file}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "{$thiskey}"
