{ # -*- ifm -*-
  # template for overplotting in k
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
{
  $this = $PT || $D;
  $file = $P->tempfile;
  $this->points(file    => $file,
                space   => 'chie', 
	        suffix  => 'chi',
	        scale   => $D->plot_multiplier,
	        yoffset => $D->y_offset,
	        weight  => $D->get_kweight,
  	        part    => $C->get('plot_part'),
	       );
  $thiskey = $D->plotkey || $C->get('plot_part') || $P->key;
  $thiskey =~ s{_}{\\\\_}g;
  if (ref($PT) =~ m{Path}) { $thiskey = $PT->name || 'Path '.$PT->Index };
  q{}
}
# {$this->name}: ifeffit group = {$D->group}
replot '{$file}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "{$thiskey}"

