{ # -*- ifm -*-
  # template for overplotting in energy
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
{
  $file = $P->tempfile;
  $S->points(file    => $file,
             space   => 'E', 
	     suffix  => $P->e_part, 
	     shift   => $D->bkg_eshift,
	     scale   => (($P->e_part =~ m{\A(?:i0|signal)\z}) and $P->e_mu) ? $D->plot_multiplier*$D->i0_scale : $D->plot_multiplier,
	     yoffset => $D->y_offset
	    );
  q{}
}
# {$D->name}: ifeffit group = {$D->group}
replot '{$file}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "{$P->key}"

