{
  $tic = int(log($xmax-$xmin)/log(10));
  $yrange = ($showy) ? "set yrange [0:]" : "unset yrange";
  ($pp = $param) =~ s{\\_}{\\\\_}g;
  $linetype ||= 'errorbars';
  $columns = ($linetype eq 'errorbars') ? '1:2:3' : '1:2';
  $xlabel ||= 'fit';
  $title  ||= 'Fitting parameter';
  q{}
}
set title "\{/*1.6 {$title}\}"
set xrange [{$xmin}:{$xmax}]
{$yrange}
set xlabel "\{/*1.4 {$xlabel}\}"
#set xtics {10**$tic}
set ylabel "\{/*1.4 {$pp}\}"
plot '{$file}' using {$columns} with {$linetype} ls {$P->increm+1} title '{$param}'
