{ # -*- ifm -*-
  # template for the k portion of an Rk plot
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
{

  $ylabel = $P->plot_kylabel;
  $data = $P->tempfile;
  $this->points(file    => $data,
                space   => 'k', 
	        suffix  => 'chi',
	        weight  => $D->get_kweight,
	       );

  $fit = $P->tempfile;
  $this->points(file    => $fit,
                part    => 'fit',
                space   => 'k', 
	        suffix  => 'chi',
	        weight  => $D->get_kweight,
	       );

  $win = $P->tempfile;
  $this->points(file    => $win,
                space   => 'k', 
                scale   => $C->get("window_size"),
	        suffix  => 'win',
	       );
  q{}
}
set size 1,0.45
set origin 0,0.55

set title "\{/*1.3 {$P->escapedtitle}\}"
set xlabel "\{/*1.2 Wavenumber&\{aa\}(\{\305\}^\{-1\})\}"
set ylabel "\{/*1.2 {$ylabel}\}"
set xrange [ {$P->kmin} : {$P->kmax} ]

unset key
plot '{$data}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+1} title "",\
     '{$fit}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+2} title "",\
     '{$win}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->increm+3} title ""

unset multiplot
