set term {$C->default("gnuplot","terminal")} font '{$C->default("gnuplot","font")},{$C->default("gnuplot","fontsize")}' {$C->default("gnuplot","termparams")}
set encoding iso_8859_15
set origin 0.01,0.01
set size 0.99,0.99

## line styles
set style line 1  linecolor rgb "{$C->default("gnuplot", "col0")}" pointsize 2 pointtype 7
set style line 2  linecolor rgb "{$C->default("gnuplot", "col1")}" pointsize 2
set style line 3  linecolor rgb "{$C->default("gnuplot", "col2")}" pointsize 2
set style line 4  linecolor rgb "{$C->default("gnuplot", "col3")}" pointsize 2
set style line 5  linecolor rgb "{$C->default("gnuplot", "col4")}" pointsize 2
set style line 6  linecolor rgb "{$C->default("gnuplot", "col5")}" pointsize 2
set style line 7  linecolor rgb "{$C->default("gnuplot", "col6")}" pointsize 2
set style line 8  linecolor rgb "{$C->default("gnuplot", "col7")}" pointsize 2
set style line 9  linecolor rgb "{$C->default("gnuplot", "col8")}" pointsize 2
set style line 10 linecolor rgb "{$C->default("gnuplot", "col9")}" pointsize 2

## marker styles
set style line 12 linecolor rgb "{$C->default("gnuplot", "markercolor")}"

## indicator styles
set style line 16 linecolor rgb "{$C->default("gnuplot", "indicatorcolor")}" lw 1.5
unset arrow

## plot formatting
set style line 20 linecolor rgb "{$C->default("gnuplot", "gridcolor")}"
set grid ls 20
set key {$C->default("gnuplot", "keyparams")}
