##
## ======== NEW PLOT ========
set output
set terminal {$C->default("gnuplot","terminal")} {$P->terminal_number} font '{$C->default("gnuplot","font")},{$C->default("gnuplot","fontsize")}' {$C->default("gnuplot","termparams")} title "{$C->mo->identity}[Plot.{$P->terminal_number}]"
set encoding iso_8859_15
set origin 0.01,0.01
set size 0.99,0.99
set autoscale
unset logscale
unset xrange
unset xtics
set xtics

## line styles
w={$C->default("gnuplot","linewidth")}
set style line 1  linecolor rgb "{$C->default("gnuplot", "col0")}" linewidth w pointsize 1 pointtype 7
set style line 2  linecolor rgb "{$C->default("gnuplot", "col1")}" linewidth w pointsize 1
set style line 3  linecolor rgb "{$C->default("gnuplot", "col2")}" linewidth w pointsize 1
set style line 4  linecolor rgb "{$C->default("gnuplot", "col3")}" linewidth w pointsize 1
set style line 5  linecolor rgb "{$C->default("gnuplot", "col4")}" linewidth w pointsize 1
set style line 6  linecolor rgb "{$C->default("gnuplot", "col5")}" linewidth w pointsize 1
set style line 7  linecolor rgb "{$C->default("gnuplot", "col6")}" linewidth w pointsize 1
set style line 8  linecolor rgb "{$C->default("gnuplot", "col7")}" linewidth w pointsize 1
set style line 9  linecolor rgb "{$C->default("gnuplot", "col8")}" linewidth w pointsize 1
set style line 10 linecolor rgb "{$C->default("gnuplot", "col9")}" linewidth w pointsize 1

## marker styles
set style line 12 linecolor rgb "{$C->default("gnuplot", "markercolor")}"

## indicator styles
set style line 16 linecolor rgb "{$C->default("gnuplot", "indicatorcolor")}" lw 1.5
unset arrow

## plot formatting
set style line 20 linecolor rgb "{$C->default("gnuplot", "gridcolor")}"
set grid ls 20
set key {$C->default("gnuplot", "keylocation")} {$C->default("gnuplot", "keyparams")}
