{ # -*- ifm -*-
  # next data set template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$F->parameter} returns the value for the current Fit
}
next data set  # {$D->fit_data} of {$F->ndata}