{ # -*- ifm -*-
  # template for overplotting in R
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  #   {$P->get("parameter")} returns the value of a Plot parameter
}
{
  $file = $P->tempfile;
  $D->points({file    => $file,
  	      part    => $C->get("plot_part"),
              space   => 'R', 
	      suffix  => ($P->get('r_pl') eq 'm') ? 'chir_mag'
	               : ($P->get('r_pl') eq 'r') ? 'chir_re'
	               : ($P->get('r_pl') eq 'i') ? 'chir_im'
	               : ($P->get('r_pl') eq 'p') ? 'chir_pha'
		       :                            'chir_mag',
	      scale   => $D->get("plot_multiplier"),
	      yoffset => $D->get("y_offset"),
	     });
  $thiskey = $C->get("plot_part") || $P->get("key");
  if (ref($thiskey) =~ m{Path}) { $thiskey = $thiskey->label };
  q{}
}
# ifeffit group = {$D}
replot '{$file}' using 1:2 with {$C->default("gnuplot", "datastyle")} ls {$P->get('increment')+1} title "{$thiskey}"

