{ # -*- ifm -*-
  # template for overplotting window function
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  #   {$P->get("parameter")} returns the value of a Plot parameter
  $suffix  = ($C->get("window_space") eq 'r') ? 'rwin' : 'win';
  $file = $P->tempfile;
  $D->points({file    => $file,
              space   => $C->get("window_space"),
	      suffix  => ($C->get("window_space") eq 'r') ? 'rwin' : 'win',
	      scale   => $C->get("window_size"),
	      yoffset => $D->get("y_offset"),
	     });
  q{}
}
replot '{$file}' using 1:2 with {$datastyle} ls {$P->get('increment')+1} title "window"
