{ # -*- ifm -*-
  # spline template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  $win = lc($D->bkg_kwindow);
  $win = 'kaiser-bessel' if (lc($D->bkg_kwindow) eq 'kaiser')
}

spline("{$D->group}.energy+{$D->bkg_eshift}",
       {$D->group}.xmu,
       e0         = {$D->bkg_e0},
       rbkg       = {$D->bkg_rbkg},
       {($D->bkg_stan !~ /None/) && sprintf("k_std      = %s.k,",    $D->bkg_stan)}
       {($D->bkg_stan !~ /None/) && sprintf("chi_std    = %s.chi, ", $D->bkg_stan)}
       {($D->bkg_fixstep != 0)   && sprintf("edge_step  = %.7g,",    $D->bkg_step)}
       {($D->bkg_fixstep != 0)   &&         "do_pre     = F, "}
       kmin       = {$D->bkg_spl1},
       kmax       = {$D->bkg_spl2},
       kweight    = {$D->bkg_kw},
       dk         = {$D->bkg_dk},
       kwindow    = {$win},
       pre1       = {$D->bkg_pre1},
       pre2       = {$D->bkg_pre2},
       norm_order = {$D->bkg_nnorm},
       norm1      = {$D->bkg_nor1},
       norm2      = {$D->bkg_nor2},
       clamp1     = {$D->bkg_clamp1},
       clamp2     = {$D->bkg_clamp2},
       interp     = quad)
