{ # -*- ifm -*-
  # import xmu template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
##| Reading mu data "{$D->file}" as group {$D->group}
read_data(file  = "{$D->file}",
          group = {$D->group},
	  type  = xmu)
