{ # -*- ifm -*-
  # chi noise template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
## compute noise for group {$D->group} : {$D->name} at kweight {$D->get_kweight}
#@params = (fft_kmin => {$D->fft_kmin}, fft_kmax => {$D->fft_kmax}, fft_dk => {$D->fft_dk}, fft_kwindow => '{$D->fft_kwindow}');
#${$S->group} -> set(@params);
#${$S->group} -> po -> kweight({$D->get_kweight});
#${$S->group} -> chi_noise;
}