{ # -*- ifm -*-
  # Forward transform template
  #   {$P} returns the current Plot object
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
@params = (fft_kmin => {$S->fft_kmin}, fft_kmax => {$S->fft_kmax}, fft_dk => {$S->fft_dk}, fft_kwindow => '{$S->fft_kwindow}');
${$S->group} -> set(@params);
${$S->group} -> po -> kweight({$P->kweight});
${$S->group} -> update_fft(1);
