{ # -*- ifm -*-
  # import chi template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}

##| Reading chi data "{$D->file}" as group {$D->group}
my ${$S->group} = Demeter::Data->new(datatype=>'chi', name => '{$D->name}', file=>'{$D->file}');
