newplot(({$S->data->group}.q)**2, {$S->data->group}.ratio, xmax={$S->qmax}**2, title="log-ratio",
        xlabel="k\u2\d (\A\u-2\d)", ylabel="log-ratio", key=data)
plot(({$S->data->group}.q)**2, {$S->data->group}.even, key=fit)
