{ # -*- ifm -*-
  # template for new plot in energy
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
{
  $emin = $D->bkg_e0 + $P->emin;
  $emax = $D->bkg_e0 + $P->emax;
  q{}
}
newplot("{$D->group}.energy+{$D->bkg_eshift}", "{$D->plot_multiplier}*{$D->group}.{$P->e_part}+{$D->y_offset}",
        xlabel="{$P->xlabel}", ylabel="{$P->ylabel}",
        grid, gridcolor="{$P->gridcolor}", xmin={$emin}, xmax={$emax},
        style={$P->datastyle}, color="{$P->color}", key="{$D->plotkey || $P->key}", 
        title="{$P->title}", fg="{$P->fg}", bg="{$P->bg}")
