{ # -*- ifm -*-
  # template for new plot of chi(k)
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
newplot({$D->group}.k, "{$D->plot_multiplier}*{$D->group}.k^{$P->kweight}*{$D->group}.chi+{$D->y_offset}",
        xlabel="{$P->xlabel}", ylabel="{$P->ylabel}",
	grid, gridcolor="{$P->gridcolor}", xmin={$P->kmin}, xmax={$P->kmax},
	style={$P->datastyle}, color="{$P->color}", key="{$P->key}", 
	title="{$P->title}", fg="{$P->fg}", bg="{$P->bg}")
