read_data(file={$file}, group=s___eq, type=raw)
newplot(s___eq.1, s___eq.2, dy=s___eq.3,
        xlabel="data sets", ylabel="components",
        grid, gridcolor="{$P->gridcolor}",
        style={$P->datastyle}, color="{$P->color}", key="{$title}", 
        title="Fit sequence", fg="{$P->fg}", bg="{$P->bg}")
