{ # -*- ifm -*-
  # template for new plot of chi(R)
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
{
 ## this code fragment chooses the correct array
 my %suffixes = ('m'=>"chir_mag", e=>"chir_mag", r=>"chir_re", i=>"chir_im", p=>"chir_pha");
 my $part     = lc($P->r_pl);
 $suffix      = $suffixes{$part};
 $suffix      = 'dph' if ($P->dphase and ($part eq 'p'));
 q{}
}
newplot({$D->group}.r, "{$D->plot_multiplier}*{$D->group}.{$suffix}+{$D->y_offset}",
        xlabel="{$P->xlabel}", ylabel="{$P->ylabel}",
	grid, gridcolor="{$P->gridcolor}", xmin={$P->rmin}, xmax={$P->rmax},
	style={$P->datastyle}, color="{$P->color}", key="{$D->plotkey || $P->key}", 
	title="{$P->title}", fg="{$P->fg}", bg="{$P->bg}")
