{ # -*- ifm -*-
  # template for overplot of chi(k)
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
}
set {$D->group}.eee = {$D->group}.k^2/etok+{$D->bkg_e0}
plot({$D->group}.eee, "{$D->plot_multiplier}*{$D->group}.k^{$P->kweight}*{$D->group}.chi+{$D->y_offset}",
     style={$P->datastyle}, color="{$P->color}", key="{$D->plotkey || $P->key}")
erase {$D->group}.eee
