{ # -*- ifm -*-
  # template for new plot in energy
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
  $scale = (($P->e_part eq 'i0')     and $P->e_mu) ? $D->i0_scale
         : (($P->e_part eq 'signal') and $P->e_mu) ? $D->signal_scale
         :                                           1;
  $mult = $D->plot_multiplier * $scale;
  q{};
}
plot("{$D->group}.energy+{$D->bkg_eshift}", "{$mult}*{$D->group}.{$P->e_part}+{$D->y_offset}",
     style={$P->datastyle}, color="{$P->color}", key="{$D->plotkey || $P->key}")
