{ # -*- ifm -*-
  # template for overplotting variance
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$P->parameter} returns the value of a Plot parameter
  $mult = $D->plot_multiplier * $C->get("data_max") / $C->get("stddev_max") / 2;
  q{};
}
plot({$D->group}.k, "{$mult}*{$D->group}.k^{$D->get_kweight}*{$D->group}.stddev+{$D->y_offset}",
     style={$P->datastyle}, color="{$P->color}", key="{sprintf("%d", $mult)} * STD. Dev.")
