{ # -*- ifm -*-
  # fit parameter report
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
}
: file                = {$D->file}
: k-range             = {$D->fft_kmin} - {$D->fft_kmax}
: dk                  = {$D->fft_dk}
: k-window            = {$D->fft_kwindow}
: k-weight            = {$D->_kw_string}
: R-range             = {$D->bft_rmin} - {$D->bft_rmax}
: dR                  = {$D->bft_dr}
: R-window            = {$D->bft_rwindow}
: fitting space       = {$D->fit_space}
: background function = {$D->yesno("fit_do_bkg")}
: phase correction    = {$D->fit_pcpath}
