{ # -*- ifm -*-
  # residual arrays template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
##| residual arrays for {$D->group}
set {$D->group}_res.k   = {$D->group}.k
set {$D->group}_res.chi = {$D->group}.chi - {$D->group}_fit.chi
