{ # -*- ifm -*-
  # restraint template for use in feffit command
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$F->parameter} returns the value for the current Fit
 #feffit(
}
<<       >>restraint  = {$S->name},<<nl>>
