 * This is an empty template for a feff6 or feff7 input file.  Replace
 * the underscores (_____) with appropriate values and fill in the
 * POTENTIALS and ATOMS lists.

 TITLE

 HOLE _____   _____

 *         mphase,mpath,mfeff,mchi
 CONTROL   1      1     1     1
 PRINT     1      0     0     0

 RMAX      _____
 *NLEG      4

 POTENTIALS
 *    ipot   Z  element

 ATOMS
 *   x          y          z      ipot
