{ # -*- ifm -*-
  # restraint template for use in feffit command
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  #   {$F->get("parameter")} returns the value for the current Fit
 #feffit(
}
<<       >>restraint  = {$D->get("name")},<<nl>>
