{ # -*- ifm -*-
  # save background subtracted data template
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  # the filename and titles were passed to the template method
  # $titles should contain a string that Ifeffit will be able to
  # interpret as a set of title lines already set in Ifeffit.  one
  # common way of doing this is with a glob structure, like
  # $dem_data_*
  # example:
  #   $string = $self->template("process", "save_chik",
  #                             {filename=>$filename, titles=>"\$dem_data_*"});
}

<<nl>>
set {$D}.chib = {$D}.chi - ({$D}_bkg.chi*{$D}.win)
write_data(file  = "{$filename}",
           label = "k chi window",
           ${$titles},
	   ${$D}_title_*,
           {$D}.k,
           {$D}.chib,
           {$D}.win)
