{ # -*- ifm -*-
  # ff2chi command template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$F->parameter} returns the value for the current Fit
}
ff2chi({$F->indeces},
       group = {$D->group}_fit)
