{ # -*- ifm -*-
  # fit parameter report
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  ($file, $label) = ($D->file,      'file          ');
  ($file, $label) = ($D->prjrecord, 'Athena project') if $D->from_athena;
  ($epsk, $epsr)  = $D->get_eps;
  $bkg_removal = q{};
  if ($D->provenance =~ m{Athena project file}) {
    $bkg_removal = sprintf("E0: %s, Rbkg: %s, range: [%s:%s], clamps: %s/%s, kw: %s",
                           $D->bkg_e0, $D->bkg_rbkg, $D->bkg_spl1, $D->bkg_spl2, $D->bkg_clamp1, $D->bkg_clamp2, $D->bkg_kw)
  }
  q{}
}
<<nl>>===== Data set >> {$D->name} << ====================================

: {$label}        = {$file}
: name                  = {$D->name}
: k-range               = {$D->fft_kmin} - {$D->fft_kmax}
: dk                    = {$D->fft_dk}
: k-window              = {$D->fft_kwindow}
: k-weight              = {$D->_kw_string}
: R-range               = {$D->bft_rmin} - {$D->bft_rmax}
: dR                    = {$D->bft_dr}
: R-window              = {$D->bft_rwindow}
: fitting space         = {$D->fit_space}
: background function   = {$D->yesno("fit_do_bkg")}
: phase correction      = {$D->fft_pc || 'no'}
: background removal    = {$bkg_removal}
: epsilon_k by k-weight = {$epsk || 0}
: epsilon_r by k-weight = {$epsr || 0}
: R-factor by k-weight  = 1 -> {sprintf "%.5f", $D->fit_rfactor1},  2 -> {sprintf "%.5f", $D->fit_rfactor2},  3 -> {sprintf "%.5f", $D->fit_rfactor3}
<<nl>>