{ $pattern = '%-' . $width . 's'; q{} }
<<  >>{sprintf $pattern, "name"}     N       S02     sigma^2   e0     delr     Reff     R
{"=" x $width}==================================================================

