Independent points          : {$S->n_idp       || 0}
Number of variables         : {$S->n_varys     || 0}
Chi-square                  : {$S->chi_square  || 0}
Reduced chi-square          : {$S->chi_reduced || 0}
R-factor                    : {$S->r_factor    || 0}
Measurement uncertainty (k) : {$S->epsilon_k   || 0}
Measurement uncertainty (R) : {$S->epsilon_r   || 0}
Number of data sets         : {$S->data_total  || 0}
<<nl>>