[Desktop Entry]
Version=1.0
Type=Application

Name=Hephaestus
Comment=Process X-ray Absorption Spectroscopy Data
Categories=Science;Physics;

Icon=/home/akiss/software/demeter/lib/Demeter/share/Demeter_icon.png
Exec=dhephaestus
Terminal=false
