{ # -*- ifm -*-
  # background arrays template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
set {$D->group}_bkg.chi = {$D->group}_fit.kbkg
