{ # -*- ifm -*-
  # feffit command template
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  #   {$F->get("parameter")} returns the value for the current Fit
}
{
  $kstring   = q{};
  $kstring  .= "kweight=1, " if $D->get('fit_k1');
  $kstring  .= "kweight=2, " if $D->get('fit_k2');
  $kstring  .= "kweight=3, " if $D->get('fit_k3');
  $kstring  .= sprintf("kweight=%.3f, ", $D->get('karb_value')) if $D->get('fit_karb');
  $kstring ||= "kweight=1, ";
  $kstring   = substr($kstring, 0, -2);
  q{}
}
feffit({$F->get("indeces")}, group={$D}_fit, chi={$D}.chi, k={$D}.k,
       {$kstring},
       rmin={$D->get("bft_rmin")}, rmax={$D->get("bft_rmax")}, kmin={$D->get("fft_kmin")}, kmax={$D->get("fft_kmax")}, 
       dk={$D->get("fft_dk")}, kwindow={$D->get("fft_kwindow")}, fit_space={$D->get("fit_space")},
       do_bkg={$D->yesno("fit_do_bkg")}, data_set={$D->get("fit_data")}, data_total={$F->get("ndata")},
       {$F->get("restraints")})
