{ # -*- ifm -*-
  # GDS template
  #   {$S->group} returns the ifeffit group name
  #   {$S->parameter} returns the value of that parameter
}
{
  $gds = lc($S->gds);
  ($gds = 'def') if ($gds =~ m{(?:after|restrain)});
  ($gds = 'set') if ($gds eq "lguess");
  ($gds = "# ".$gds) if ($gds =~ m{(?:merge|skip)});
  $gds = sprintf("%-7s", $gds);
  q{}
}
{$gds} {$S->name} = {$S->mathexp}
