{ # -*- ifm -*-
  # ff2chi command template
  #   {$S->group} returns the ifeffit group name
  #   {$S->parameter} returns the value of that parameter
  q{}
}
##ff2chi([{$S->group}], group={$S->group})
