
{ # -*- ifm -*-
  # path definition template
  #   {$S->group} returns the ifeffit group name
  #   {$S->parameter} returns the value of that parameter
}
{
  require File::Spec;
  $nnnn = Demeter->follow_link(File::Spec->catfile($S->folder, $S->file));
  $i = $S->Index;
  q{}
}
##|
##| Path #{$i} (group={$S->group}) ={substr(ref($S), 9)}=
{$S->group} = feffpath('{$nnnn}',
                 label  = '{$S->name}',
                 degen  = '{$S->n}',
                 s02    = '{lc($S->s02)    || 1}',
                 e0     = '{lc($S->e0)     || 0}',
                 deltar = '{lc($S->delr)   || 0}',
                 sigma2 = '{lc($S->sigma2) || 0}',
                 ei     = '{lc($S->ei)     || 0}',
                 third  = '{lc($S->third)  || 0}',
                 fourth = '{lc($S->fourth) || 0}'  )
paths.append({$S->group})
