{ # -*- ifm -*-
  # chores to be done before starting a fit
  q{}
}
try:
    del gds
except NameError:
    pass
#endtry
try:
    del paths
except NameError:
    pass
#endtry
try:
    del dsets
except NameError:
    pass
#endtry
gds   = group(label='Artemis guess/def/set parameters', __name__='gds')
dsets = list()
paths = list()
