{ # -*- ifm -*-
  # import fit template
  #   {$D->group} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
}
##| reading fit file "{$filename}" as group {$D->group}
t___emp = read_ascii('{$filename}')
{$D->group}_fit = group(__name__='{$D->group}_fit')
{$D->group}_res = group(__name__='{$D->group}_res')
{$D->group}_fit.k   = t___emp.k
{$D->group}_fit.chi = t___emp.chi
{$D->group}_res.k   = t___emp.k
{$D->group}_res.chi = {$D->group}.chi - {$D->group}_fit.chi 
del t___emp 

