{
  $which = ($P->space eq 'k') ? 'fft' : 'bft';
  $DS->_update($which);
  q{};
}
{if (($P->space eq 'k') and $P->chie) {
  $OUT .= "set p___lot.eee = " . $DS->group . ".k^2/etok+" . $DS->bkg_e0;
} else {
  $OUT .= "set p___lot." . $P->space . " = " . $DS->group . "." . $P->space;
};
}

