{ # -*- ifm -*-
  # Backward transform template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}

fftr(real={$D->group}.chir_re, imag={$D->group}.chir_im, r={$D->group}.r, rmin={$D->bft_rmin},
     rmax={$D->bft_rmax}, dr={$D->bft_dr}, rwindow={$D->bft_rwindow})
