{ # -*- ifm -*-
  # clone data by copying ifeffit arrays
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter"} returns the value of that parameter
  #   {$DS->group} is the "standard", which here is the newly clones group
  $xsuff = ($D->datatype eq 'chi') ? 'k'   : 'energy';
  $ysuff = ($D->datatype(chi) ? 'chi' : 'xmu';
  q{};
}
##| cloning {$D->group} as group {$D->group}
set({$DS->group}.{$xsuff} = {$D->group}.{$xsuff},
    {$DS->group}.{$ysuff} = {$D->group}.{$ysuff})
