{ # -*- ifm -*-
  # template for converting columns to xmu
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
##| making mu(E) from columns for group {$D->group}
set({$D->group}.energy = {$D->energy_string},
    {$D->group}.xmu    = {$D->xmu_string},
    {$D->group}.i0     = {$D->i0_string} )
