{ # -*- ifm -*-
  # Forward transform template
  #   {$P} returns the current Plot object
  #   {$D} returns the ifeffit group name
  #   {$D->get(""parameter")} returns the value of that parameter
}
fftf({$D}.chi, k={$D}.k, kmin={$D->get("fft_kmin")}, kmax={$D->get("fft_kmax")}, dk={$D->get("fft_dk")},
     kwindow={$D->get("fft_kwindow")}, kweight={$P->get("kweight")}, rmax_out={$D->get("rmax_out")})
