{ # -*- ifm -*-
  # normalized derivatives template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}

##| Set first and second derivative of normalized data
set({$D->group}.nder = deriv({$D->group}.norm)/deriv({$D->group}.energy),
    {$D->group}.nsec = deriv({$D->group}.nder)/deriv({$D->group}.energy) )
