{ # -*- ifm -*-
  # add noise to mu(E) data
  #   {$D->group}  returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$C->parameter} returns the generic parameter
}
{
  $seed = sprintf("%.5f", rand(1000));
  q{}
}
##|
##| adding noise {$C->get("noise")} to {$D->group}
set c___onv_nn = npts({$D->group}.{$C->get("noise_which")})
random(output={$D->group}.random, npts=c___onv_nn, dist=normal, sigma={$C->get("noise_level")}, seed={$seed})
set {$D->group}.{$C->get("noise_which")} = {$D->group}.{$C->get("noise_which")} + {$D->group}.random
##|
