{ # -*- ifm -*-
  # save chi(q) template
  #   {$S->group} returns the ifeffit group name
  #   {$D->group} returns the data group name
  #   {$D->parameter} returns the value of that parameter
  # the filename, titles, and kweight were passed to the template
  # method $titles should contain a string that Ifeffit will be able
  # to interpret as a set of title lines already set in Ifeffit.  one
  # common way of doing this is with a glob structure, like
  # $dem_data_*
  # example:
  #   $string = $self->template("process", "save_chir",
  #                             {filename => $filename,
  #                              titles   => "\$dem_data_*"});
}
##|
##| saving "{$S->name}" as back-transformed chi(k)
set {$S->group}.chik = {$S->group}.k^{$P->kweight}*{$S->group}.chi
write_data(file="{$filename}", ${$titles}, ${$D->group}_title_*,
           label="q chiq_re chiq_im chiq_mag chiq_pha win chik",
           {$S->group}.q, {$S->group}.chiq_re, {$S->group}.chiq_im,
           {$S->group}.chiq_mag, {$S->group}.chiq_pha, {$S->group}.win, {$S->group}.chik)
erase {$S->group}.chik
