{ # -*- ifm -*-
  # deglich a single data point
  #   {$D->group}  returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  #   {$C->get("parameter")} returns the generic parameter
}
##|
##| smoothing {$D->group}
set {$D->group}.{$C->get("smooth_suffix")} = smooth({$D->group}.{$C->get("smooth_suffix")})
