{ # -*- ifm -*-
  # truncate a data group
  #   {$D}  returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  #   {$C->get("parameter")} returns the generic parameter
}
##|
##| truncate {$D} {$C->get("trun_ba")} {$C->get("trun_value")} in {$C->get("trun_x")}
set(trun___n    = nofx({$D}.{$C->get("trun_x")}, {$C->get("trun_value")}),
    {$D}.energy = slice({$D}.{$C->get("trun_x")}, 1, trun___n),
    {$D}.xmu    = slice({$D}.{$C->get("trun_y")}, 1, trun___n) )
##|
