{ # -*- ifm -*-
  # save chi(k) template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  # the filename and titles were passed to the template method
  # $titles should contain a string that Ifeffit will be able to
  # interpret as a set of title lines already set in Ifeffit.  one
  # common way of doing this is with a glob structure, like
  # $dem_data_* 
  # example:
  #   $string = $self->template("process", "save_chik",
  #                             {filename=>$filename, titles=>"\$dem_data_*"});
}
##|
##| saving "{$D->name}" as chi(k)
set {$D->group}.chik  = {$D->group}.k*{$D->group}.chi
set {$D->group}.chik2 = {$D->group}.k^2*{$D->group}.chi
set {$D->group}.chik3 = {$D->group}.k^3*{$D->group}.chi
write_data(file  = "{$filename}",
           ${$titles},
	   ${$D->group}_title_*,
           label = "k chi chik chik2 chik3 win",
           {$D->group}.k,
           {$D->group}.chi,
           {$D->group}.chik,
           {$D->group}.chik2,
           {$D->group}.chik3,
           {$D->group}.win)
erase {$D->group}.chik, {$D->group}.chik2, {$D->group}.chik3
