{ # -*- ifm -*-
  # save chi(k) template
  #   {$D} returns the ifeffit group name
  #   {$D->get("parameter")} returns the value of that parameter
  # the filename and titles were passed to the template method
  # $titles should contain a string that Ifeffit will be able to
  # interpret as a set of title lines already set in Ifeffit.  one
  # common way of doing this is with a glob structure, like
  # $dem_data_* 
  # example:
  #   $string = $self->template("process", "save_chik",
  #                             {filename=>$filename, titles=>"\$dem_data_*"});
}
##|
##| saving "{$D->label}" as chi(k)
set {$D}.chik  = {$D}.k*{$D}.chi
set {$D}.chik2 = {$D}.k^2*{$D}.chi
set {$D}.chik3 = {$D}.k^3*{$D}.chi
write_data(file  = "{$filename}",
           ${$titles},
	   ${$D}_title_*,
           label = "k chi chik chik2 chik3 win",
           {$D}.k,
           {$D}.chi,
           {$D}.chik,
           {$D}.chik2,
           {$D}.chik3,
           {$D}.win)
erase {$D}.chik, {$D}.chik2, {$D}.chik3
