{ # -*- ifm -*-
  # save norm(E) template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  # the filename and titles were passed to the template method
  # $titles should contain a string that Ifeffit will be able to
  # interpret as a set of title lines already set in Ifeffit.  one
  # common way of doing this is with a glob structure, like
  # $dem_data_* 
  # example:
  #   $string = $self->template("process", "save_norm",
  #                             {filename=>$filename, titles=>"\$dem_data_*"});
}
##| saving "{$D->name}" as normalized mu(E)
set({$D->group}.nder = deriv({$D->group}.norm)/deriv({$D->group}.energy),
    {$D->group}.nsec = deriv({$D->group}.nder)/deriv({$D->group}.energy))
write_data(file = "{$filename}",
           ${$titles},
	   ${$D->group}_title_*,
           {$D->group}.energy,
	   {$D->group}.norm,
	   {$D->group}.nbkg,
	   {$D->group}.flat,
           {$D->group}.fbkg,
	   {$D->group}.nder,
	   {$D->group}.nsec)
