{ # -*- ifm -*-
  # atoms keywords
  #   {$A->get("parameter")} returns an Atoms attribute
  #   {$A->out("parameter")} returns a formatted Atoms real-valued attribute
  #   {$C->get("parameter")} returns a Cell attribute
  #   {$C->out("parameter")} returns a formatted Cell real-valued attribute
}
## --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
##  total mu*x=1:  {$A->xsec} microns,  unit edge step:  {$A->deltamu} microns
##  specific gravity:  {$A->density}
## --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
##  normalization correction:    {$A->mcmaster} ang^2
##  i0 correction:               {$A->i0} ang^2
##  self absorption correction:  {$A->selfsig} ang^2
##            amplitude factor:  {$A->selfamp}
## --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
##  net correction:              {$A->netsig} ang^2
## --*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--
