"{$S->name}" is a {$S->recordtype} record.  It can be plotted in {$S->plotspaces} space. 
It's Ifeffit group name is '{$S->group}'.

This {$S->recordtype} record has {$S->npts} from {$S->xmin} to {$S->xmax}.

"{$S->name}" uses {$S->nknots} spline knots, evenly spaced in k between {$S->bkg_spl1}
and {$S->bkg_spl2}.
