{ # -*- ifm -*-
  # about Data group template
}
"{$D->name}" is a {$D->recordtype} record.  It can be plotted in {$D->plotspaces} space. 
It's {$D->backend_name} group name is '{$D->group}'.
{
  $OUT .= ($D->is_col)    ? "\nmu(E) was constructed from columns as \n\t" . $D->xmu_string      . "\n"  : q{};
  $OUT .= ($D->reference) ? "\nThis record is tied to \""                . $D->reference->name . "\"\n"  : q{};
}
This {$D->recordtype} record has {$D->npts} points from {$D->xmin} to {$D->xmax}.

"{$D->name}" uses {$D->nknots} spline knots, evenly spaced in k between {$D->bkg_spl1}
and {$D->bkg_spl2}.

Measurement uncertainty in k: {$D->epsk}
                        in r: {$D->epsr}
Recommended kmax for the Fourier transform: {$D->recommended_kmax}
