{ # -*- ifm -*-
  # spline template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}

spline("{$D->group}.energy+{$D->bkg_eshift}", {$D->group}.xmu, e0={$D->bkg_e0}, rbkg={$D->bkg_rbkg},
       {sprintf("k_std=%s.k, chi_std=%s.chi, ", $D->bkg_stan, $D->bkg_stan) if ($D->bkg_stan !~ /None/)}
       {sprintf("edge_step=%.7g, do_pre=F, ", $D->bkg_step) if ($D->bkg_fixstep)}
       kmin={$D->bkg_spl1}, kmax={$D->bkg_spl2}, kweight={$D->bkg_kw}, dk={$D->bkg_dk},
       kwindow={$D->bkg_kwindow}, pre1={$D->bkg_pre1}, pre2={$D->bkg_pre2},
       norm_order={$D->bkg_nnorm}, norm1={$D->bkg_nor1}, norm2={$D->bkg_nor2}, 
       clamp1={$D->bkg_clamp1}, clamp2={$D->bkg_clamp2}, nclamp=5, interp=quad)
