{ # -*- ifm -*-
  # chi noise template
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
}
chi_noise({$D->group}.chi, k={$D->group}.k, kmin={$D->fft_kmin}, kmax={$D->maxk}, dk={$D->fft_dk},
           kwindow={$D->fft_kwindow}, kweight={$P->kweight})
