{ # -*- ifm -*-
  # template for converting columns to xmu during a quick merge
  #   {$D->group} returns the ifeffit group name
  #   {$D->parameter} returns the value of that parameter
  if ($D->i0_string eq '1') {
     $str = 'set _n = npts(' . $D->energy_string . ")\n";
     $D->i0_string($D->group . '.ones');
     $str .= 'set ' . $D->group . '.ones = ones(_n)';
     $str;
  };
}
##| making mu(E) from columns for group {$D->group}
set({$D->group}.energy = {$D->energy_string},
    {$D->group}.xmu    = {$D->xmu_string})
