{ # -*- ifm -*-
  # derivative of phase of chi(R) template
  #   {$D->group} returns the ifeffit group name
}

##| Set first derivative of phase in R
set {$D->group}.dph = deriv({$D->group}.chir_pha)/deriv({$D->group}.r)
set ___dphase_scale = (ceil({$D->group}.chir_mag) / ceil(abs({$D->group}.dph)))
set {$D->group}.dph = ___dphase_scale * {$D->group}.dph
