{
  ## erase any ol' thing from Ifeffit's memory, taking care not to
  ## exceed the line length restriction
   use Text::Wrap;
  local $Text::Wrap::columns = 200;
  $all = wrap('erase ', 'erase ', $items);
  q{}
}
{$all}
