{
  $pre  = 'smooth(' x $C->default('dispersive', 'nsmooth');
  $post = ')' x $C->default('dispersive', 'nsmooth');
  q{}
}
guess(pixel___a = {$S->offset}, pixel___b = {$S->linear}, pixel___c = {$S->quadratic})
def({$S->group}.ec = pixel___a + pixel___b*{$S->group}.energy + pixel___c*{$S->group}.energy**2,
    {$S->group}.sm = {$pre}{$S->group}.der{$post},
    {$S->group}.xc = qinterp({$S->group}.ec, {$S->group}.sm, {$S->standard->group}.energy))
