guess pixel___scale = 1

def p___ixel.diff = {$S->standard->group}.der - pixel___scale * {$S->group}.xc

show {$S->group}.ec
set(pixel___xmin = max(floor({$S->group}.ec + 5), floor({$S->standard->group}.energy)),
    pixel___xmax = min(ceil({$S->group}.ec - 10), ceil({$S->standard->group}.energy)))
show pixel___xmin pixel___xmax
minimize(p___ixel.diff, x={$S->standard->group}.energy, xmin=pixel___xmin, xmax=pixel___xmax)

