##| apply calibration parameters to DXAS data
set {$S->group}.energy = {$DS->offset} + {$DS->linear}*{$DS->group}.energy + {$DS->quadratic}*{$DS->group}.energy**2
set {$S->group}.xmu    = {$DS->group}.xmu
