{ # -*- ifm -*-
  # virtual path preparation template
  #   {$S} returns the ifeffit group name of the caller, which should be a VPath object
}
set {$S->group}.k   = {$S->first->group}.k
set {$S->group}.chi = {$S->first->group}.chi
