Self absorption amplitude correction : {$amp}
Self absorption sigma^2 correction   : {$self} Å^2
Normalization sigma^2 correction     : {$norm} Å^2
I0 sigma^2 correction                : {$i0} Å^2
   net sigma^2 correction            : {$ss} Å^2

