<< >>
Self absorption amplitude correction : {$amp}
Self absorption sigma^2 correction   : {$self} A^2
Normalization sigma^2 correction     : {$norm} A^2
I0 sigma^2 correction                : {$i0} A^2
   net sigma^2 correction            : {$ss} A^2

