{
  @list = @{ $C->get("many_list") };
  $i = 3;

  $eshift = q{};
  $eshift = "+".$S->bkg_eshift if ($C->get("many_space") eq 'energy');
  q{}
}
{
  if ($C->get("save_with_multipliers")) {
    $OUT .= "## multiply by plot multipliers\n";
    foreach $g (@list) {
      $OUT .= 'set ' . $g->group . '.' . $C->get("many_suffix") . ' = ' . $g->plot_multiplier . '*' . $g->group . '.' . $C->get("many_suffix") . "\n";
    }
  }
  q{}
}
{$eline}set {$S->group}.xxx = {$S->group}.{$C->get("many_space")}{$eshift}
write_data(file="{$C->get("many_file")}", $many_title_*, {$S->group}.xxx,
           {foreach $g (@list) {$OUT .= $g->group . '.' . $C->get("many_suffix") . ', '}}
           label="{$C->get("many_space")}{foreach $g (@list) {($n=$g->name)=~ s{ +}{_}g; $OUT .= "  $n"}}")
erase {$S->group}.xxx
erase {$S->group}.chiee
{
  foreach $i (1..$#list+7) {
    $OUT .= "erase \$many_title_" . $i++ . "\n";
  }
}
