{
  @list = @{ $C->get("many_list") };
  %trans = (xmu      => 'mu(E)',
   	    norm     => 'normalized mu(E)',
	    der      => 'derivative mu(E)',
	    sec      => 'second derivative mu(E)',
 	    nder     => 'derivative of normalized mu(E)',
	    nsec     => 'second derivative of normalized mu(E)',
  	    chi      => 'chi(k)',
	    chik     => 'k * chi(k)',
	    chik2    => 'k^2 * chi(k)',
	    chik3    => 'k^3 * chi(k)',
  	    chir_mag => 'magnitude of chi(R)',
	    chir_re  => 'real part of chi(R)',
	    chir_im  => 'imaginary part of chi(R)',
	    chir_pha => 'phase of chi(R)',
  	    chiq_mag => 'magnitude of chi(q)',
	    chiq_re  => 'real part of chi(q)',
	    chiq_im  => 'imaginary part of chi(q)',
	    chiq_pha => 'phase of chi(q)',
	   );
  $i = 1;
  q{}
}
$many_title_{$i++} = "XDI/1.0 Demeter/{$S->version}"
$many_title_{$i++} = 'Demeter.output_filetype: multicolumn {$trans{$C->get("many_which")}}'
$many_title_{$i++} = 'Element.symbol: {$D->bkg_z}'
$many_title_{$i++} = 'Element.edge: {ucfirst($D->fft_edge)}'
$many_title_{$i++} = 'Column.1: k inverse Angstrom'
$many_title_{$i++} = 'Column.2: energy eV'
{
  foreach $g (@list) {
    $word = $g->name;
    $word =~ s{\s+}{_}g;
    $OUT .= "\$many_title_" . $i . ' = "Column.' . ($i-4) . ': ' . $word . "\"\n";
    $i++;
  }
}
