{
  $esd = 0;
  $ess = 0;
  $prefactor = 1;
  $prefactor = -1 if $S->invert;
  if ($S->xsuff eq 'energy') {
    $esd = $D->bkg_eshift;
    $ess = $DS->bkg_eshift;
  };
  q{}
}
##| Compute difference  {$DS->name} - {$D->name} as {$S->space}
{$S->group} = group(__name__='{$S->group}')
{$D->group}.int    = interp({$D->group}.{$S->xsuff}+{$esd}, {$D->group}.{$S->dataspace}, {$DS->group}.{$S->xsuff}+{$ess})
{$S->group}.energy = {$DS->group}.{$S->xsuff}+{$ess}-{$esd}
{$S->group}.diff   = {$prefactor} * ({$D->group}.int - {$S->multiplier}*{$DS->group}.{$S->standardspace})
