{
  # here $S is the data group being prepped as a standard
  # and $DS is the LCF group
  ($e0, $de0) = $DS->e0($S);
  @list = $DS->standards_list;
  pop(@list);
  $sum = join(' + ', map {join('', 'demlcf.', $_, '_a')} @list); ## makes a_w + a_x + a_y, i.e. sum of other amplitudes
  q{}
}
##| prepare {$S->name} ({$S->group}) as an LCF standard
demlcfsh.{$S->group} = param({$S->bkg_eshift}, vary=False)

## constrain this weight to be 1 - the sum of all other weights
__aparam = '{$S->group}'+'_a'
setattr(demlcf, __aparam, param(expr='1-({$sum})'))

## set per-data-set e0 shift appropriately (blocks in order are: over all / floated for this data set / fixed)
__eparam = '{$S->group}'+'_e'
if {$DS->TrueFalse($DS->one_e0)}:
    setattr(demlcf, __eparam, param(expr='demlcf.{$DS->group}'))
elif {$DS->TrueFalse($DS->is_e0_floated($S))}:
    setattr(demlcf, __eparam, param({$e0}, vary=True))
else:
    setattr(demlcf, __eparam, param({$e0}, vary=False))
endif
