{
  $components = join(" ", grep {$_ =~ s{ +}{_}g; $_} map {$_->name} (@{$S->standards}));
  @list = map {$_->group} (@{$S->standards});
  $standards = $S->group . '.' . join(', '.$S->group.'.', @list);
  $x = ($S->space =~ m{\Achi}) ? 'k' : 'energy';
  q{}
}
write_ascii("{$filename}",
            {$S->group}.x, {$S->group}.func, {$S->group}.lcf, {$S->group}.resid,
            {$standards},
            label="{$x} data fit residual {$components}", header={$S->group}.myheader)
