{
  # here $S is the data group being prepped as a standard
  # and $DS is the LCF group
  ($e0, $de0) = $DS->e0($S);
  ($weight, $error) = $DS->weight($S);
  q{}
}
##| prepare {$S->name} ({$S->group}) as an LCF standard
demlcfsh.{$S->group} = {$S->bkg_eshift}

## set bounds on amplitude if constrained to be between 0 and 1
__aparam = '{$S->group}'+'_a'
if {$DS->TrueFalse($DS->inclusive)}:
    setattr(demlcf, __aparam, param({$weight}, vary=True, min=0, max=1))
else:
    setattr(demlcf, __aparam, param({$weight}, vary=True))
endif

## set per-data-set e0 shift appropriately (blocks in order are: over all / floated for this data set / fixed)
__eparam = '{$S->group}'+'_e'
if {$DS->TrueFalse($DS->one_e0)}:
    setattr(demlcf, __eparam, param(expr='demlcf.{$DS->group}', vary=False))
elif {$DS->TrueFalse($DS->is_e0_floated($S))}:
    setattr(demlcf, __eparam, param({$e0}, vary=True))
else:
    setattr(demlcf, __eparam, param({$e0}, vary=False))
endif

