write_ascii("{$file}",
            {$S->data->group}.q, {$S->data->group}.ratio, {$S->data->group}.even, {$S->data->group}.diff, {$S->data->group}.odd,
	    label="q ratio even difference odd", header={$S->data->group}.myheader)
