{
  $labels = join(" ", (1 .. $#{$S->stack}+1));
  $components = $S->group . '.ev' . join(', '.$S->group.'.ev', (0 .. $#{$S->stack}));
  q{}
}
write_ascii("{$filename}", {$S->group}.x,
           {$components},
           label="x data {$labels}", header={$S->group}.myheader)
