{
  ($name = $D->name) =~ s{\s+}{_}g;
  $abcissa = ($S->space =~ m{[ck]}) ? 'k' : 'energy';
  q{}
}
write_ascii("{$filename}", {$S->group}.x,
           {$S->group}.{$D->group}, {$S->group}.rec{$index}, {$S->group}.diff{$index},
           label="{$abcissa} {$name} reconstruction residual", header={$S->stack->[$index]->group}.myheader)
