## lorentzian lineshape ({$S->name})
{$S->group}.{$L->group} = (dempeak.{$L->group}_0 * dempeak.{$L->group}_2) / (2*pi*( ( {$S->group}.energy-dempeak.{$L->group}_1)**2 + (dempeak.{$L->group}_2/2)**2 ))
